/*******************************************************************/
/*  GENERAL                                                        */
/*******************************************************************/

body, html {
    background: #f7f7f7;
    color: #000000;
    font: 12px/1.4 arial,FreeSans,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    background: #036;
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2{
    color: #000;
    font-size: 183%;
    margin: 15px 0 0 0;
}

h3 {
    color: #326ca6;
    font-weight: bold;
    margin: 0;
}

h4 {
    margin: 0 0 10px 0;
}

p {
    margin: 10px 0 0 0;
}

.clearer {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin-bottom: -1px;
}

/*******************************************************************/
/*  LAYOUT                                                         */
/*******************************************************************/

#header {
    background: #036;
    border-bottom: 3px solid #326ca6;
    padding: 5px;
}

#fastdev-header {
    background: url(images/logo.png) top left no-repeat;
    text-indent: -9999px;
}

#content {
    margin: 20px 20px 0 20px;
}

#footer {
    color: #666;
    font-size: 11px;
    margin: 25px 0 10px 0;
    text-align: center;
}

#footer a, #footer a:visited {
    color: #666;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

.section {
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 20px 15px 20px;
}

#fastdev-loading {
    display: none;
}

#fastdev-no-changes {
    display: none;
}

.no-changes #fastdev-no-changes {
    display: block;
}

#fastdev-tasks {
    display: none;
}

.has-tasks #fastdev-tasks {
    display: block;
}

.loading #fastdev-loading {
    display: block;
}

.loading #fastdev-tasks, .loading #fastdev-no-changes {
    display: none;
}

.loading .loading-text {
    background-image: url(images/throbber.gif);
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 25px;
    padding-right: 25px;
}

/*******************************************************************/
/*  MAVEN TASKS                                                    */
/*******************************************************************/

#fastdev-tasks, #fastdev-no-changes {
    position: relative;
}

button.trigger-reload {
    position: absolute;
    right: 5px;
    top: 2px;
}

.progress-header {
    background: #3c78b5;
    height: 25px;
    line-height: 25px;
    margin: 0 -20px;
    padding: 5px 20px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.progress-header:before, .progress-header:after {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    content: "";
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 10;
}

.progress-header:after {
    left: auto;
    right: 0;
}

.progress-header h3 {
    color: #fff;
    float: left;
    margin: 0 5px;
}

.progress-header .progress-icon {
    background: transparent url(images/building.gif) 0 0 no-repeat;
    float: left;
    height: 16px;
    margin: 3px 0 0 5px;
    width: 16px;
}

.task-status {
    color: #fff;
    float: left;
    font-size: 110%;
    /* floats mess with the margin-ability of .task-progress, so I'm adding it here as a workaround */
    margin-right: 5%;
}

/*******************************************************************/
/*  MAVEN OUTPUT                                                   */
/*******************************************************************/

.maven-output-container {
    border: 1px dashed #bbb;
    margin-top: 10px;
}

.maven-output {
    clear: both;
    font: 11px/16px "Monaco","Courier New",monospace;
    height: 150px;
    overflow-y: auto;
    padding: 10px;
}

.maven-info-output {
    color: #036;
}

.maven-error-output {
    color: #c00;
}

.maven-other-output {
    color: #666;
}

/*******************************************************************/
/*  MAVEN OUTPUT RESIZE "HANDLE"                                   */
/*******************************************************************/

.maven-output-container .handle {
    background: #f2f2f2 url(images/handle.gif) no-repeat center center;
    border-top: 1px solid #ddd;
    cursor: s-resize;
    height: 5px;
}

.resize-guide {
    border: 1px solid #aaa;
    cursor: s-resize;
    opacity: 0.5;
    position: absolute;
}

/*******************************************************************/
/*  SUCCESS / FAILURE                                              */
/*******************************************************************/

.successful .progress-header {
    background-color: #393;
}

.successful .progress-icon {
    background-image: url(images/status-icons.png);
    background-position: 0 0;
}

.failure .progress-header {
    background-color: #a00;
}

.failure .progress-icon  {
    background-image: url(images/status-icons.png);
    background-position: -19px 0;
}

.server-error .progress-header {
    background-color: #666;
}

.server-error .progress-icon  {
    background-image: url(images/status-icons.png);
    background-position: -38px 0;
}

/*******************************************************************/
/*  PROGRESS BAR                                                   */
/*******************************************************************/

.has-progress .task-progress {
    display: block;
}

.task-progress {
    background: #8aaed2; /* IE8 doesn't recognize the rgba property, so ignores it */
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #ddd;
    display: none;
    line-height: 15px;
    margin: 3px 5%;
    overflow: hidden;
    position: relative;
}

.task-progress > .progress-bar {
    background: #dce6f1; /* IE8 doesn't recognize the rgba property, so ignores it */
    background: rgba(255, 255, 255, 0.7);
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.progress-text {
    display: block;
    min-height: 1em;
    padding: 1px 0.5em;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    z-index: 1;
}

/*******************************************************************/
/*  AUI TOOLBAR-LIKE BUTTON STYLE                                  */
/*******************************************************************/

.toolbar-button {
    background: url(images/aui-toolbar-button-inactive-bg.png) repeat-x scroll left bottom #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    min-width: 14px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    width: auto;
}

button.toolbar-button {
    height: 25px;
}

.toolbar-button:hover {
    border-color: #999;
    outline: none;
}

.toolbar-button:active {
    background: url(images/aui-toolbar-button-active-bg.png) repeat-x scroll left top #d8e4f0;
    border: 1px solid #999;
}

.toolbar-button.disabled, .toolbar-button.disabled:hover, .toolbar-button.disabled:active {
    background: url(images/aui-toolbar-button-inactive-bg.png) repeat-x scroll left bottom #fff;
    border-color: #ddd;
    color: #999;
}

/*******************************************************************/
/*  EXPAND / COLLAPSE BUTTON                                       */
/*******************************************************************/

.expand {
    float: right;
    height: 15px;
    line-height: 15px;
    margin-top: 2px;
}